table {
    border: 1px solid black;
    border-collapse: collapse;
}

table thead {
    background-color: darkgrey;
}

td, th {
    border: 1px solid black;
    padding: 3px;
}


img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}