<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library. Books</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Books in Library</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <th th:text="${book.title}">Title</th>
        <th th:text="${book.author}">Author</th>
        <th th:text="${book.genre}">Genre</th>
        <th><a href="editBook.html" th:href="@{/books/edit(id=${book.id})}"><img th:src="@{/images/edit.png}"></a></th>
        <th><a href="books.html" th:href="@{/books/delete(id=${book.id})}"><img th:src="@{/images/delete.png}"></a></th>
    </tr>
    </tbody>
</table>
<a class="button" href="createBook.html" th:href="@{/books/create}">Add book</a>
</body>
</html>