<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<form id="edit-form" th:action="@{/books/edit(id=${book.id})}" th:method="post" action="editBook.html">
    <h1>Edit book info:</h1>

    <div class="row" hidden>
        <input id="id-input" type="text" name="id" th:value="${book.id}" value="" readonly/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" type="text" name="title" th:value="${book.title}" value="1"/>
    </div>

    <div class="row">
        <label for="author-input">Author: </label>
        <input id="author-input" name="author" type="text" th:value="${book.author}" value=""/>
    </div>

    <div class="row">
        <label for="genre-input">Genre</label>
        <select id="genre-input" class="book_selector" name="genre">
            <option th:each="genre: ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}"
                    th:selected="${genre.name == book.genre}">Genre
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit" name="action" value="update">Save</button>
        <button type="submit" name="action" value="cancel">Cancel</button>
    </div>
</form>

</body>
</html>
